<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce Java</title>
</head>
<body>
    <div style="width: max-content;padding: 25px; margin: 50px auto; background-color: white; border-radius: 20px; display: flex; flex-direction: column; justify-content: center; align-items:center;box-shadow: 4px 4px 100px 0px rgba(0,0,0,0.36);">
        <h2 style="color: #0066b2;">Email Confirmed successfully</h2>
        <p style="font-size: 18px;">Proceed to login</p>
    </div>
</body>
</html>